.footer-container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    z-index: 10;
    bottom: 0;
    left: 0;
    flex-basis: 0;
}

.footer-main, .footer-nav{
    border-top: 1px solid black;
    background-color: bisque;
}

.footer-nav{
    display: flex;
    width: 20vw;
    place-content: center;
    place-items: center;
    text-align: center;
    border-right: 1px solid black;
}

.footer-main{
    display: flex;
    width: 20vw;
    flex-direction: row;
    justify-content: space-around;
    border-left: 1px solid black;
    align-items: center;
}

.footer-main-logo{
    min-width: 25%;
    max-width: 25%;
    height: 70%;
    margin-right: 5px;
    margin-left: 5px;
}

.footer-main-logo img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.footer-main-bread{
    display: flex;
    flex-direction: column;
    width: calc(70%);
    text-align: end;
}

.footer-main-title, .footer-main-subtitle{
    font-weight: bold;
    margin-bottom: 5px;
}

.footer-main-title:hover, .footer-main-subtitle:hover{
    color: grey; 
    cursor: pointer;
}

.footer-main-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.footer-main-subtitle{
    font-size: medium;
}

.footer-main-description{
    font-size: small;
}

.footer-nav div{
    flex-basis: 0;
    flex-grow: 1;
}

.footer-nav div:hover{
    text-decoration: underline;
    cursor: pointer;
}