@media only screen and (max-width: 767px){
    .table-container{
        font-size: 12px;
    }
}

.table{
    display: flex;
    justify-content: center;
    width: 100%;
}

.table-body{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 86vh;
    width: 90%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.table-body::-webkit-scrollbar{
    display: none;
}

.table-row-flexed{
    flex-grow: 2 !important;
}

.table-row{
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    overflow: hidden;
    min-height: 3vh;
    padding: 10px 0;
}

.table-row:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.table-row-item{
    flex-basis: 0;
    flex-grow: 1;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-row-item::-webkit-scrollbar{
    display: none;
}

.table-hoverable{
    display: inline-block !important;
}

.table-hoverable:hover, .table-hoverable:active{
    color: gray;
    cursor: pointer;
}

.tournament{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 85px;
    padding: 5px 0;
    justify-content: space-between;
}

.table-body .tournament:not(:last-child){
    border-bottom: 1px solid black;
}

.tournament:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.tournament-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

.tournament-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bolder;
    width: 200px;
}

.tournament-date{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px
}

.tournament-status{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.tournament-players{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.torunament-hover:hover{
    text-decoration: underline;
    cursor: pointer;
}

.red{
    color: darkred;
}